<div class="short-desc profile-comp  col-sm-5">
  <div class="col-sm-12">
    <p>{{'PROFILE_PAGE.PROFILE_COMPLETION.HEADING' | translate}}</p>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-style="{width: profileComplition()}"> <span>{{profileComplitionText}}</span> </div>
    </div>
  </div>
  <div class="col-sm-12">
    <p>{{'PROFILE_PAGE.PROFILE_COMPLETION.ADDITIONAL_INFO' | translate}}</p>
  </div>
</div>
